*.npy
*.png
__pycache__*
model_wo_lagphase.py
model_wo_lagphase_make_plots.py
pool_model_ln.py
*.py
*.pdf
validation.py
validation.py
validation.py
First parameter estimation (Автосохраненный).xlsx
First parameter estimation.xlsx
measurements/Keimzahlen aus Piloten 1-3_final.xlsx
measurements/Pilot3 - Summary.xlsx
measurements/Pilot 2 regulär begast-Li.xlsx
measurements/Pilot 2 Stickstoff begast-Li.xlsx
validation.py
validation.py
